{{ form_start(form) }}
{{ form_widget(form) }}
<div class="text-right">
    <input class="btn btn-lg btn-success" type="submit" id="_submit" name="_submit"
           value="{{ 'profile.submit'|trans({}, 'security') }}">
</div>
{{ form_end(form) }}
